MANIFEST
build
dist
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
.cache
absolute.json

# Sphinx documentation
_build
docs/_build/
docs/gh-pages

# PyBuilder
target/

# PyCharm
.idea/
*.iml
