language: python
python:
    - "nightly"
    - "3.7-dev"
    - 3.6
    - 3.5
    - 3.4
    - 2.7
sudo: false
install:
  - pip install --upgrade setuptools pip
  - pip install --upgrade --pre -e .[test] pytest-cov pytest-warnings codecov 'coverage<5'
script:
  - py.test --cov jupyter_client jupyter_client
after_success:
  - codecov
matrix:
    allow_failures:
        - python: nightly
branches:
  except:
    - /^auto-backport-of-pr-[0-9]+$/
