dist: xenial
language: python
python:
    - "nightly"
    - "3.8"
    - "3.7"
    - "3.6"
    - "3.5"
arch:
  - amd64
  - ppc64le
install:
  - pip install --upgrade setuptools pip
  - pip install --upgrade --upgrade-strategy eager --pre -e .[test] pytest-cov codecov 'coverage<5'
  - pip freeze
script:
  - py.test --cov jupyter_client jupyter_client
after_success:
  - codecov
matrix:
    allow_failures:
        - python: nightly
branches:
  except:
    - /^auto-backport-of-pr-[0-9]+$/
