include *.md
include *.txt

# Documentation
graft docs
exclude docs/\#*
exclude docs/_*

# docs subdirs we want to skip
prune docs/build
prune docs/gh-pages
prune docs/dist

# Patterns to exclude from any directory
global-exclude *~
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.orig
global-exclude .git
global-exclude .github
global-exclude .ipynb_checkpoints
